body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

nav {
    background: green;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
